.image{
    width: 200%;
    height: 200%;
}
.sbutton{
    height: 18px;
    width: 18px;
    left: 160px;
    top: 14px;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
.card{
    width: 400px;
    height: 60px;
    background-size: cover;
    overflow: visible;
}
.card1{
    width: 200px;
    height: 60px;
    background-size: cover;
}
.title{
    top: -60px;
    left: -10px;
}
.title2{
    top: -100px;
    left: -10px;
}
.subtitle{
    top: -80px;
    left: 5px;
}
.footer{
    top: -80px;
}
.chip{
    top: -25px;
    left: 310px;
}
.chip1{
    top: -35px;
    left: 280px;
}
.chip2{
    top: -5px;
    left: 80px;
}
.icon{
    height: 100px;
    width: 100px;
    top: -5px;
    left: -15px;
}
.icons{
    width: 45px;
    height: 45px;
}
.card2{
    left: 200px;
    top: -60px;
    width: 200px;
    height: 50px;
    background-size: cover;
}
.card3{
    width: 200px;
    height: 50px;
    background-size: cover;   
}
.title3{
    top: -95px;
    left: 40px;
}
.footer{
    top: -80px;
}
.chip3{
    top: -55px;
    left: 90px;
}
.chip4{
    top: -15px;
    left: 110px;
}
.chip5{
    top: -60px;
    left: 40px;
}
.avatar{
    width: 40px;
    height: 40px;
}
.destaq{
    top: -70px;
}
.sdestaq{
    top: -90px;
}
.poster4{
    width: 400px;
    height: 220px;
    background-size: cover;
  }
.title4{
    top: -10px;
    left: -10px;
}
.subtitle4{
    top: -30px;
    left: 10px;
}
.footer4{
    top: -45px;
}
.p-title{
    top: -100px;
}
.p-card{
    top: -100px;
    width: 400px;
    height: 150px;
}
.p-title2{
    top: -310px;
    left: 100px;
}
.p-subtitle{
    top: -330px;
    left: 90px;
    max-inline-size: 250px;
}
.p-thumb{
    width: 100px;
    height: 300px;
    background-size: cover;
}
.p-footer{
    left: 105px;
    top: -350px;
}