.image{
    width: 200%;
    height: 200%;
}
.sbutton{
    height: 18px;
    width: 18px;
    left: 40vw;
    top: 1vh;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
.card{
    width: 95vw;
    height: 12vh;
    background-size: cover;
    box-shadow: none !important;
}
.title{
    top: -7vh;
    left: -2vw;
}
.subtitle{
    top: -9vh;
    left: 2vw;
    max-inline-size: 250px;
}
.footer{
    top: -80px;
}
.chip{
    top: 0vh;
    left: 75vw;
    background: none;
}
.chip0{
    top: 0.8vh;
    left: 25vw;
    background: none;
}
.chip1{
    top: 1vh;
    left: -45vw;
    background: none;
}
.chip2{
    top: -5px;
    left: 80px;
    background: none;
}
.icon{
    height: 100px;
    width: 100px;
    top: -5px;
    left: -15px;
}
.icons{
    width: 45px;
    height: 45px;
}
.card2{
    left: 49vw;
    top: -7.5vh;
    width: 46vw;
    height: 6.2vh;
    background-size: cover;
    box-shadow: none !important;
}
.card3{
    width: 46vw;
    height: 6vh;
    background-size: cover;
    box-shadow: none !important;   
    
}
.title3{
    top: -11.5vh;
    left: 9vw;
}
.footer{
    top: -80px;
}
.chip3{
    top: -7vh;
    left: 22vw;
    background: none;
}
.chip4{
    top: -2vh;
    left: 26vw;
    background: none;
}
.chip5{
    top: -8vh;
    left: 8vw;
    background: none;
}
.chip6{
    background: none;
}
.avatar{
    width: 40px;
    height: 40px;
}
.destaq{
    top: -9vh;
}
.sdestaq{
    top: -10vh;
}
.poster4{
    width: 400px;
    height: 220px;
    background-size: cover;
  }
.title4{
    top: -10px;
    left: -10px;
}
.subtitle4{
    top: -30px;
    left: 10px;
}
.footer4{
    top: -45px;
}
.p-title{
    top: -10vh;
}
.p-card{
    top: -10vh;
    width: 95vw;
    height: 180px;
    box-shadow: none !important;
}
.p-title2{
    top: -37.5vh;
    left: 23vw;
}
.p-subtitle{
    top: -40vh;
    left: 25vw;
    max-inline-size: 250px;
}
.p-thumb{
    width: 100px;
    height: 300px;
    background-size: cover;
}
.p-footer{
    left: 25vw;
    top: -42vh;
}