<ion-content>

  <img src="./assets/design/Email.png" class="confirm-cellphone">

  <img class="arrow" src="./assets/design/arroww.png" routerLink="/cellphone">
  <router-outlet></router-outlet>

  <ion-text class="text">Digíte o Código que enviamos para 'numero' por 'metodo'</ion-text>
  <form class="form">    
    <ion-item lines="full">
      <ion-label class="text0" color="medium" position="floating">Código</ion-label>
      <ion-input class="text0" color="primary" type="number" #number required></ion-input>
    </ion-item>
  </form>
  <ion-button fill="clear" color="dark" size="small" class="cbutton">Não recebi meu código</ion-button>

  <ion-button class="cont" color="warning" expand="full" routerLink="/tabs">CONTINUAR</ion-button>
  <router-outlet></router-outlet>

</ion-content>