.confirm-cellphone{
    width: 100%;
    height: 100%;
    background: fixed,
    url('/assets/design/Email.png');
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    color: #fff;
  }
.form{
    width: 80%;
    position: absolute;
    left: 5vw;
    top: 18.2vh;
}
.text0{
    font-family: 'MontserratMedium';
}
.text{
    position: absolute;
    left: 5vw;
    top: 10vh;
    font-family: 'KeepCalm';
    font-size: 20px;
    position: absolute;
    color: #fff;
}
.cbutton{
    font-family: 'MontserratBold';
    position: absolute;
    left: 3vw;
    top: 26vh;
    letter-spacing: 1.2px;
}
.arrow{
    width: 7%;
    position: absolute;
    left: 10px;
    top: 20px;
}
ion-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
.cont{
    font-family: 'KeepCalm';
    font-size: 18px;
    letter-spacing: 0px;
    position:absolute;
    bottom:0;
    width: 105vw;
    left: -5vw;
    
}
.input {
    position: absolute;
    left: 4vw;
    top: 18vh;
    height: 7.2vh;
    width: 82vw;
}
.item.item-input {
    --border-radius: 8px;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }