<ion-content>
  <ion-item class="back-button">
    <ion-icon 
      *ngIf="currentContentDisplay === 'cellphone'" 
      slot="start" 
      (click)="goBackToDashboard()"
      color="secondary"
      name="chevron-back-outline">
    </ion-icon>

    <ion-icon 
      *ngIf="currentContentDisplay === 'confirm-cellphone'" 
      slot="start" 
      button (click)="goBackToCellphoneDisplay()" 
      color="secondary"
      name="chevron-back-outline">
    </ion-icon>
  </ion-item>
  <div class="background-image">

    <div *ngIf="currentContentDisplay === 'cellphone'">
      <ion-grid class="cellphone-grid ion-text-center"> 
        <ion-row class="row-question">
          <ion-col>
            <ion-text class="text-question">Qual o número do seu celular?</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="item-input" lines="full">
              <ion-label class="item-label" color="medium" position="floating">Número</ion-label>
              <ion-input class="item-label" color="primary" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="row-question">
          <ion-col>         
            <ion-text class="text-question">Como deseja receber o código?</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="receive-col">
          <ion-col>
            <ion-button expand="block" fill="solid" color="secondary" class="receive-button" (click)="goToConfirmCellphoneDisplay()">Receber por WhatsApp</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" fill="outline" color="light" class="receive-button" (click)="goToConfirmCellphoneDisplay()">Receber por SMS</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="currentContentDisplay === 'confirm-cellphone'">
      <ion-grid class="cellphone-grid ion-text-center"> 
        <ion-row class="row-question">
          <ion-col>
            <ion-text class="text-question">Digíte o Código que enviamos para 'numero' por 'metodo'</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="item-input" lines="full">
              <ion-label class="item-label" color="medium" position="floating">Código</ion-label>
              <ion-input class="item-label" color="primary" type="number"></ion-input>
            </ion-item>
            <ion-row>
              <ion-button fill="clear" color="light" size="small" class="didnt-receive-button">Não recebi meu código</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="continue-button" color="secondary" expand="full" (click)="goToHomePage()">CONTINUAR</ion-button>
    </div>
  </div>
</ion-content>
