.question-row {
    margin-top: 2vh;
}

.question-text {
    font-family: 'MontserratRegular';
    font-weight: 600;
    color: var(--ion-color-primary);
}

.buttons-row {
    margin-top: 2vh;
}

.main-button {
    text-transform: none;
    font-family: 'MontserratRegular';
    font-weight: bold;
    font-size: 1rem;
    width: 45vw;
    height: 6vh;
    --border-radius: 8px;
}
  
.google-logo {
    margin-left: -18vw;
    width: 10vw;
    height: 5vh;
    border-radius: 8px;
}
  
.google-label {
    margin-left: 10vw;
}