<ion-content class="ion-padding">

  <ion-list>
  <ion-card class="card">
    <ion-avatar>
      <img src="https://www.drupal.org/files/styles/grid-2-2x-square/public/user-pictures/picture-3225829-1558725908.png?itok=o01US_jb">
    </ion-avatar>
    <ion-card-header> 
      <ion-chip class="chip">
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-chip>
      <ion-card-title class="title">Bruce Wayne</ion-card-title>
    </ion-card-header>
    <ion-card-subtitle class="subtitle">
      Meus Dados
    </ion-card-subtitle>
  </ion-card>
  
  <ion-card class="card1">
      <img class="icons" src="../../assets/design/icon6.png">
    <ion-card-header> 
      <ion-chip class="chip1">
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-chip>
      <ion-card-title class="title">Chats</ion-card-title>
    </ion-card-header>
    <ion-card-subtitle class="subtitle">
      Minhas Conversas
    </ion-card-subtitle>
  </ion-card>
  
  <ion-card class="card1">
      <img class="icons" src="../../assets/design/icon5.png">
    <ion-card-header> 
      <ion-chip class="chip1">
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-chip>
      <ion-card-title class="title">Notificações</ion-card-title>
    </ion-card-header>
    <ion-card-subtitle class="subtitle">
      Minha central de notificações.
    </ion-card-subtitle>
  </ion-card>
  
  <ion-card class="card1">
      <img class="icons" src="../../assets/design/icon4.png">
    <ion-card-header> 
      <ion-chip class="chip1">
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-chip>
      <ion-card-title class="title">Cupons</ion-card-title>
    </ion-card-header>
    <ion-card-subtitle class="subtitle">
      Meus cupons de desconto
    </ion-card-subtitle>
  </ion-card>
  
  <ion-card class="card1">
      <img class="icons" src="../../assets/design/icon3.png">
    <ion-card-header> 
      <ion-chip class="chip1">
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-chip>
      <ion-card-title class="title">Formas de pagamento</ion-card-title>
    </ion-card-header>
    <ion-card-subtitle class="subtitle">
      Minhas formas de pagamento
    </ion-card-subtitle>
  </ion-card>
  </ion-list>
  
  <ion-list>
  <ion-card class="card1">
      <img class="icons" src="../../assets/design/icon2.png">
    <ion-card-header> 
      <ion-chip class="chip1">
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-chip>
      <ion-card-title class="title2">Ajuda</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card class="card1">
      <img class="icons" src="../../assets/design/icon1.png">
    <ion-card-header> 
      <ion-chip class="chip1">
        <ion-icon name="chevron-forward-outline" color="primary"></ion-icon>
      </ion-chip>
      <ion-card-title class="title2">Configurações</ion-card-title>
    </ion-card-header>
  </ion-card>
  </ion-list>
  
  </ion-content>