.arrow{
    width: 5%;
    position: absolute;
    left: 10px;
    top: 30px;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
.card{
    top: 10px;
    width: 95vw;
    height: 18vh;
    background-size: cover;
}
.card2{
    top: 10px;
    width: 95vw;
    height: 18vh;
    background-size: cover;
}
.title2{
    top: -7vh;
    left: 17vw;
}
.subtitle{
    top: -10vh;
    left: 21vw;
    max-inline-size: 250px;
}
.footer{
    top: -130px;
}
.avatar{
    width: 50px;
    height: 50px;
}
.check1{
    white-space: nowrap;
    top: 6vh;
    left: 18vw;
}
.check2{
    white-space: nowrap;
    top: 5vh;
    left: 18vw;
}
.check3{
    white-space: nowrap;
    top: 4vh;
    left: 18vw;
}
.col{
    max-inline-size: 250px;
    top: 5vh;
    left: 20vw;
}
.col2{
    white-space: nowrap;
    top: 0px;
    left: 80px;
}
.col3{
    white-space: nowrap;
    top: 16px;
    left: -200px;
}
.card4{
    width: 95vw;
    height: 7vh;
    top: 1vh;
    background-size: cover;
}
.title4{
    top: -6vh;
    left: -5vw;
}
.subtitle4{
    top: -80px;
    left: 5px;
}
.footer4{
    top: -80px;
}
.chip4{
    top: -1vh;
    left: 60vw;
}