.arrow{
    width: 5%;
    position: absolute;
    left: 10px;
    top: 30px;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
.poster{
    top: 10px;
    width: 400px;
    height: 150px;
    background-size: cover;
}
.poster2{
    top: 10px;
    width: 400px;
    height: 100px;
    background-size: cover;
}
.title2{
    top: -70px;
    left: 70px;
}
.subtitle{
    top: -105px;
    left: 85px;
    max-inline-size: 250px;
}
.subtitle2{
    left: 85px;
    top: -125px;
}
.footer{
    top: -130px;
}
.avatar{
    width: 50px;
    height: 50px;
}
.check1{
    white-space: nowrap;
    top: 17px;
    left: 75px;
}
.check2{
    white-space: nowrap;
    top: 45px;
    left: -125px;
}
.check3{
    white-space: nowrap;
    top: 42px;
    left: 75px;
}
.col{
    max-inline-size: 250px;
    top: 10px;
    left: 80px;
}
.col2{
    white-space: nowrap;
    top: 0px;
    left: 80px;
}
.col3{
    white-space: nowrap;
    top: 16px;
    left: -200px;
}
.card4{
    width: 450px;
    height: 50px;
    background-size: cover;
}
.title4{
    top: -60px;
    left: -35px;
}
.subtitle4{
    top: -80px;
    left: 5px;
}
.footer4{
    top: -80px;
}
.chip4{
    top: -12px;
    left: 250px;
}