.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
.sticky + .content {
    padding-top: 10vh;
}
.htitle{
    position: fixed;
    left: 26.5vw;
    top: 5vh;
}
.ftitle{
    top: -6vh;
    left: -3vw;
}
.ttitle{
    top: -8vh;
    left: -3vw;
}
.card{
    top: -80px;
    width: 95vw;
    height: 18vh;
    left: -4vw;
    background-size: cover;
    box-shadow: none !important;
}
.title2{
    top: -8.5vh;
    left: 15vw;
}
.subtitle{
    top: -11vh;
    left: 20vw;
}
.footer{
    top: -7vh;
}
.abutton{
    font-family: 'KeepCalm';
    position: absolute;
    left: -2vw;
    top: 5vh;
    letter-spacing: 0.5px;
}
.dbutton{
    font-family: 'KeepCalm';
    position: absolute;
    left: -55vw;
    top: 5vh;
    letter-spacing: 0.5px;
}