  ion-toolbar {
    width: 450vw;
    height: 100%;
    left: -180vw;
    top: -2vh;
    background-size: cover;
    --background: url('/assets/design/Gradiente.png'); 
 }
 .logo {
    height: 6vh;
  }
  .card2{
    width: 1000vw;
    height: 10vh;
    left: -2vw;
    background: linear-gradient(rgba(87, 126, 202, 0.61), rgba(87, 126, 202, 0.61)),
    url('/assets/design/img1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card3{
    width: 1000vw;
    height: 10vh;
    left: 0vw;
    background: linear-gradient(rgba(87, 126, 202, 0.61), rgba(87, 126, 202, 0.61)),
    url('/assets/design/img2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .card4{
    width: 1000vw;
    height: 10vh;
    left: 2vw;
    background: linear-gradient(rgba(87, 126, 202, 0.61), rgba(87, 126, 202, 0.61)),
    url('/assets/design/img3.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .item-title{
    left: -2vw;
  }
  .item-title2{
    left: -2vw;
  }
  .item-title3{
    left: -2vw;
  }
  .slides{
    left: -1vw;
  }
  .slides2{
    left: 2vw;
  }
  .slides3{
    left: -1vw;
  }
.input::-webkit-input-placeholder {
    font-family: 'Coolvetica';
  }
  
  .input:-ms-input-placeholder {
    font-family: 'Coolvetica';
  }
  
  .input:-moz-placeholder {
    font-family: 'Coolvetica';
  }
  
  .input::-moz-placeholder {
    font-family: 'Coolvetica';
  }
  .card{
    width: 95vw;
    height: 14vh;
    left: -4vw;
    background-size: cover;
  }
  .title2{
    top: -8.5vh;
    left: 15vw;
  }
  .subtitle{
    top: -11vh;
    left: 20vw;
  }
  .footer{
    top: -8vh;
  }
  :focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
  }
.input {
  width: 100vw;
  left: -4vw;
  top: -1vh;
  }