.card{
    width: 95vw;
    height: 10vh;
    left: -3vw;
    background-size: cover;
}
.card1{
    width: 95vw;
    height: 6vh;
    left: -2vw;
    top: 2vh;
    background-size: cover;
}
.title{
    top: -12.5vh;
    left: 17vw;
}
.title2{
    top: -11.5vh;
    left: 17vw;
}
.subtitle{
    top: -14.5vh;
    left: 22vw;
}
.chip{
    top: -8.5vh;
    left: 75vw;
}
.chip1{
    top: -7.5vh;
    left: 75vw;
}
.icons{
    width: 40px;
    height: 40px;
}