<ion-content padding>

<ion-list>
<ion-card class="card">
  <ion-avatar>
    <img src="https://www.drupal.org/files/styles/grid-2-2x-square/public/user-pictures/picture-3225829-1558725908.png?itok=o01US_jb" alt="ion">
  </ion-avatar>
  <ion-card-header> 
    <ion-chip class="chip">
      <ion-icon name="arrow-forward" color="primary"></ion-icon>
    </ion-chip>
    <ion-card-title class="title" style="font-family:Coolvetica; font-size: 20px; color: #577ECA;">Bruce Wayne</ion-card-title>
  </ion-card-header>
  <ion-card-subtitle class="subtitle" style="font-family:Coolvetica; font-size: 15px; color: #8e8e8f;">
    Meus Dados
  </ion-card-subtitle>
</ion-card>

<ion-card class="card1">
    <img class="icons" src="../../assets/design/icon6.png" alt="ion">
  <ion-card-header> 
    <ion-chip class="chip1">
      <ion-icon name="arrow-forward" color="primary"></ion-icon>
    </ion-chip>
    <ion-card-title class="title" style="font-family:Coolvetica; font-size: 20px; color: #577ECA;">Chats</ion-card-title>
  </ion-card-header>
  <ion-card-subtitle class="subtitle" style="font-family:Coolvetica; font-size: 15px; color: #8e8e8f;">
    Minhas Conversas
  </ion-card-subtitle>
</ion-card>

<ion-card class="card1">
    <img class="icons" src="../../assets/design/icon5.png" alt="ion">
  <ion-card-header> 
    <ion-chip class="chip1">
      <ion-icon name="arrow-forward" color="primary"></ion-icon>
    </ion-chip>
    <ion-card-title class="title" style="font-family:Coolvetica; font-size: 20px; color: #577ECA;">Notificações</ion-card-title>
  </ion-card-header>
  <ion-card-subtitle class="subtitle" style="font-family:Coolvetica; font-size: 15px; color: #8e8e8f;">
    Minha central de notificações.
  </ion-card-subtitle>
</ion-card>

<ion-card class="card1">
    <img class="icons" src="../../assets/design/icon4.png" alt="ion">
  <ion-card-header> 
    <ion-chip class="chip1">
      <ion-icon name="arrow-forward" color="primary"></ion-icon>
    </ion-chip>
    <ion-card-title class="title" style="font-family:Coolvetica; font-size: 20px; color: #577ECA;">Cupons</ion-card-title>
  </ion-card-header>
  <ion-card-subtitle class="subtitle" style="font-family:Coolvetica; font-size: 15px; color: #8e8e8f;">
    Meus cupons de desconto
  </ion-card-subtitle>
</ion-card>

<ion-card class="card1">
    <img class="icons" src="../../assets/design/icon3.png" alt="ion">
  <ion-card-header> 
    <ion-chip class="chip1">
      <ion-icon name="arrow-forward" color="primary"></ion-icon>
    </ion-chip>
    <ion-card-title class="title" style="font-family:Coolvetica; font-size: 20px; color: #577ECA;">Formas de pagamento</ion-card-title>
  </ion-card-header>
  <ion-card-subtitle class="subtitle" style="font-family:Coolvetica; font-size: 15px; color: #8e8e8f;">
    Minhas formas de pagamento
  </ion-card-subtitle>
</ion-card>
</ion-list>

<ion-list>
<ion-card class="card1">
    <img class="icons" src="../../assets/design/icon2.png" alt="ion">
  <ion-card-header> 
    <ion-chip class="chip1">
      <ion-icon name="arrow-forward" color="primary"></ion-icon>
    </ion-chip>
    <ion-card-title class="title2" style="font-family:Coolvetica; font-size: 20px; color: #577ECA;">Ajuda</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card class="card1">
    <img class="icons" src="../../assets/design/icon1.png" alt="ion">
  <ion-card-header> 
    <ion-chip class="chip1">
      <ion-icon name="arrow-forward" color="primary"></ion-icon>
    </ion-chip>
    <ion-card-title class="title2" style="font-family:Coolvetica; font-size: 20px; color: #577ECA;">Configurações</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-list>

</ion-content>