<ion-content>

<ion-grid class="header">
  <ion-row>
    <ion-col size="auto">
      <ion-title class="header-title ion-text-center">
        Escolha uma opção
      </ion-title>
    </ion-col>
  </ion-row>
</ion-grid>

<div>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label class="question-label">
          Como quer receber o pedido?
        </ion-label>
      </ion-list-header>
      <ion-item lines="none">
        <ion-icon name="bicycle" color="warning"></ion-icon>
        <ion-label style="color: #55565c; font-family: MontserratBold;">Entrega</ion-label>
        <sub class="sub" style="color: #7e7e81; text-align: left; font-family: MontserratMedium;">A gente leva até
          você</sub>
        <ion-radio color="warning" slot="end"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="walk" color="warning"></ion-icon>
        <ion-label style="color: #55565c; text-align: left; font-family: MontserratBold;">Retirada</ion-label>
        <sub class="sub2" style="color: #7e7e81; text-align: left; font-family: MontserratMedium;">Você retira no
          local</sub>
        <ion-radio color="warning" slot="end"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button class="button" color="warning" expand="full">CONFIRMAR</ion-button>
</div>


</ion-content>