<ion-header class="ion-no-border" style="height: 60px; background-color: #fff;">
  <img class="arrow" src="./assets/design/arroww.png" routerLink="/a-details">
  <router-outlet></router-outlet>
  <p style="text-align: center; color: #000000; font-family: MontserratBold; font-size: 25px;">
    Escolha uma opção
  </p>
</ion-header>

<ion-content>

      <div>
        
        <ion-list>
          <ion-radio-group>
            <ion-list-header>
              <ion-label style="text-align: left; color: #000000; font-family: KeepCalm; font-size: 18px;">
                Como quer receber o pedido?
              </ion-label>
            </ion-list-header>
        
            <ion-item lines="none">
              <ion-icon name="bicycle" color="warning"></ion-icon>
              <ion-label style="color: #55565c; font-family: MontserratBold;">Entrega</ion-label>
              <sub class="sub" style="color: #7e7e81; text-align: left; font-family: MontserratMedium;">A gente leva até você</sub>
              <ion-radio color="warning" slot="end"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-icon name="walk" color="warning"></ion-icon>
              <ion-label style="color: #55565c; text-align: left; font-family: MontserratBold;">Retirada</ion-label>
              <sub class="sub2" style="color: #7e7e81; text-align: left; font-family: MontserratMedium;">Você retira no local</sub>
              <ion-radio color="warning" slot="end"></ion-radio>
            </ion-item>
          </ion-radio-group>
         
        
      
     </ion-list>

     <ion-button class="button" color="warning" expand="full" routerLink="/">CONFIRMAR</ion-button>
    </div>
    
  
</ion-content>