.arrow{
    width: 5%;
    position: absolute;
    left: 10px;
    top: 30px;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
.sub{
    left: -192px;
    top: 15px;
}
.sub2{
    left: -208px;
    top: 15px;
}
.button{
    font-family: 'BebasNeuePro';
    font-size: 25px;
    letter-spacing: 0px;
}