.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
.sticky + .content {
    padding-top: 10vh;
}

.htitle {
    font-family: 'MontserratBold'; 
    font-size: 28px; 
    color: #FF9C1A;
    top: 10px; 
    position: center;
    position: fixed;
    left: 26.5vw;
}

.ftitle {
    font-family: 'KeepCalm'; 
    font-size: 24px; 
    color: #577ECA;
    top: -6vh;
    left: -3vw;
}

.ttitle {
    font-family:'MontserratBold'; 
    font-size: 16px; 
    color: #2a2b2e;
    top: -8vh;
    left: -3vw;
}

.card {
    top: -80px;
    width: 95vw;
    height: 18vh;
    left: -4vw;
    background-size: cover;
    box-shadow: none !important;
}

.title2 {
    font-family:'KeepCalm'; 
    font-size: 18px; 
    color: #FF9C1A;
    top: -8.5vh;
    left: 15vw;
}

.subtitle {
    font-family: 'MontserratMedium'; 
    font-size: 13px; 
    color: #55565c;
    top: -11vh;
    left: 20vw;
}

.footer {
    top: -7vh;
}

.abutton {
    font-family: 'KeepCalm';
    position: absolute;
    left: -2vw;
    top: 5vh;
    letter-spacing: 0.5px;
}

.dbutton {
    font-family: 'KeepCalm';
    position: absolute;
    left: -55vw;
    top: 5vh;
    letter-spacing: 0.5px;
}

.chip {
    font-family: 'KeepCalm'; 
    font-size: 13px; 
    color: #577ECA;
    background: none;
}