<ion-content>
  <ion-item class="back-button">
    <ion-icon 
      *ngIf="currentContentDisplay === 'email'" 
      slot="start" 
      (click)="goBackToDashboard()"
      color="secondary"
      name="chevron-back-outline">
    </ion-icon>

    <ion-icon 
      *ngIf="currentContentDisplay === 'confirm-email'" 
      slot="start" 
      button (click)="goBackToEmailDisplay()" 
      color="secondary"
      name="chevron-back-outline">
    </ion-icon>
  </ion-item>
  <div class="background-image">

    <div *ngIf="currentContentDisplay === 'email'">
      <ion-grid class="cellphone-grid ion-text-center"> 
        <ion-row class="row-question">
          <ion-col>
            <ion-text class="text-question">Qual o seu e-mail?</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="item-input" lines="full">
              <ion-label class="item-label" color="medium" position="floating">E-mail</ion-label>
              <ion-input class="item-label" color="primary" type="string"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-text class="span-label">será enviado um e-mail de confirmação.</ion-text>
      </ion-grid>
      <ion-button class="continue-button" color="secondary" expand="full" (click)="goToConfirmEmailDisplay()">CONTINUAR</ion-button>
    </div>

    <div *ngIf="currentContentDisplay === 'confirm-email'">
      <ion-grid class="cellphone-grid ion-text-center"> 
        <ion-row class="row-question">
          <ion-col>
            <ion-text class="text-question">Digíte o código que enviamos para 'email'</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="item-input" lines="full">
              <ion-label class="item-label" color="medium" position="floating">Código</ion-label>
              <ion-input class="item-label" color="primary" type="number"></ion-input>
            </ion-item>
            <ion-row>
              <ion-button fill="clear" color="light" size="small" class="didnt-receive-button">Não recebi meu código</ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="continue-button" color="secondary" expand="full" (click)="goToHomePage()">CONTINUAR</ion-button>
    </div>
  </div>
</ion-content>
