.email{
    width: 100%;
    height: 100%;
    background: fixed,
    url('/assets/design/Email.png');
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    color: #fff;
  }
.form{
    width: 80%;
    position: absolute;
    left: 20px;
    top: 115px;
}
.button{
    font-family: 'BebasNeuePro';
    font-size: 25px;
    letter-spacing: 0px;
}
.text0{
    font-family: 'Segoe UI';
}
.text{
    font-family: 'BebasNeuePro';
    font-size: 32px;
    position: absolute;
    left: 30px;
    top: 80px;
}
.text2{
    font-family: 'Coolvetica';
    position: absolute;
    left: 50px;
    top: 180px;
}
.arrow{
    width: 7%;
    position: absolute;
    left: 10px;
    top: 20px;
}
ion-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
.input {
    position: absolute;
    left: 15px;
    top: 115px;
    height: 62px;
}
.item.item-input {
    --background: transparent !important;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }

