<ion-content>
  <ion-slides [options]="slidesOptions" pager="true" class="main-slides">
    <ion-slide>
      <img src="./assets/design/AppExplaining - 1.png" class="main-slide">
      <ion-button fill="clear" color="primary" size="small" class="ignore-button" (click)="goToDashboard()">Ignorar</ion-button>
    </ion-slide>
    <ion-slide>
      <img src="./assets/design/AE – 2.png" class="main-slide">
    </ion-slide>
    <ion-slide>
      <img src="./assets/design/AE – 3.png" class="main-slide">
    </ion-slide>
    <ion-slide class="ion-text-center">
      <img src="./assets/design/AE – 4.png" class="main-slide">
      <ion-button size="large" expand="block" type="button" class="start-button" (click)="goToDashboard()">COMEÇAR!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
