<ion-content>
  


  <ion-slides [options]="slidesOptions" pager="true">
    <ion-slide>
      <img src="./assets/design/AppExplaining - 1.png" class="slide1">
      <ion-button fill="clear" color="primary" size="small" class="cbutton" (click)="goToDashboard()">Ignorar</ion-button>
    </ion-slide>
    <ion-slide>
      <img src="./assets/design/AE – 2.png" class="slide2">
    </ion-slide>
    <ion-slide>
      <img src="./assets/design/AE – 3.png" class="slide3">
    </ion-slide>
    <ion-slide>
      <img src="./assets/design/AE – 4.png" class="slide4">
      <ion-button size="large" expand="block" type="button" class="start-button" (click)="goToDashboard()">COMEÇAR!</ion-button>
    </ion-slide>
  </ion-slides>
  

</ion-content>
