.arrow{
    width: 5%;
    position: absolute;
    left: 10px;
    top: 30px;
}
:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
.sub{
    left: -46vw;
    top: 2vh;
}
.button{
    font-family: 'KeepCalm';
    font-size: 18px;
    letter-spacing: 0px;
    position:absolute;
    bottom:0;
    width: 105vw;
    left: -5vw;
}
 