<ion-content>
<ion-row class="header-row">
  <ion-col>
    <ion-title class="header-title ion-text-center">
      Escolha uma opção
    </ion-title>
  </ion-col>
</ion-row>

<ion-row>
  <ion-segment 
    value="today" 
    color="secondary" 
    scrollable="false"
    mode="md" 
    (ionChange)="segmentChanged($event)">

    <ion-segment-button value="today" mode="md">
      <ion-label class="segment-title">Hoje,</ion-label>
      <span class="segment-subtitle">5</span>
    </ion-segment-button>

    <ion-segment-button value="tomorrow" mode="md">
      <ion-label class="segment-title">Amanhã,</ion-label>
      <span class="segment-subtitle">6</span>
    </ion-segment-button>

  </ion-segment>

  <div *ngIf="segment === 'today'">
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label class="schedule-title">
            Para agora
          </ion-label>
        </ion-list-header>

        <ion-item lines="none">
          <ion-label class="schedule-label">Entrega Padrão</ion-label>
          <sub class="sub">20 - 30 min</sub>
          <strong class="schedule-strong">R$10,00</strong>
          <ion-radio color="secondary" slot="end"></ion-radio>
        </ion-item>

        <ion-list-header>
          <ion-label class="schedule-title">
            Agendamento pra hoje
          </ion-label>
        </ion-list-header>

        <ion-item lines="none">
          <ion-label class="schedule-label">17:30 - 18:00</ion-label>
          <strong class="schedule-strong">R$10,00</strong>
          <ion-radio color="secondary" slot="end"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="schedule-label">18:00 - 18:30</ion-label>
          <strong class="schedule-strong">R$10,00</strong>
          <ion-radio color="secondary" slot="end"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
  </div>

  <div *ngIf="segment === 'tomorrow'">
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label class="schedule-title">
            Agendamento pra amanhã
          </ion-label>
        </ion-list-header>

        <ion-item lines="none">
          <ion-label class="schedule-label">17:30 - 18:00</ion-label>
          <strong class="schedule-strong">R$10,00</strong>
          <ion-radio color="secondary" slot="end"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="schedule-label">18:00 - 18:30</ion-label>
          <strong class="schedule-strong">R$10,00</strong>
          <ion-radio color="secondary" slot="end"></ion-radio>
        </ion-item>
      </ion-radio-group>     
    </ion-list>
  </div>
</ion-row>

<ion-row>
  <div class="footer">
    <ion-button class="button" color="secondary" expand="full">CONTINUAR</ion-button>
  </div>
</ion-row>
</ion-content>
