:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
}
.rating-number {
    top: -4vh;
}
.title {
    color: #242424; 
    font-family: RobotoBold; 
    font-size: 18px;
    background-color: transparent;
    z-index: 0;
    left: 30vw;
}
.subtitle {
    text-align: center;
    color: #242424; 
    font-family: RobotoRegular; 
    font-size: 16px;
    left: 20vw;
    top: -1vh;
}
.rating {
    text-align: center;
    color: #000000;
    font-family: KeepCalm; 
    font-size: 20px;
}