<ion-content class="ion-padding">
  <img class="arrow" src="./assets/design/arroww.png" routerLink="/a-details">
  <router-outlet></router-outlet>
  <h1 style="text-align: center; color: #000000; font-family: KeepCalm; font-size: 20px;">
    Avaliações
  </h1>
  <p style="text-align: center; color: #bbbaba; font-family: MontserratMedium; font-size: 13px;">
    HD Consertos de celulares
  </p>



  <ion-item class="rating-number" lines="none">
    <ion-label style="text-align: center; color: #000000; font-family: KeepCalm; font-size: 20px;">4,7</ion-label>
  </ion-item>
  
</ion-content>